  

.css-h5rgaw.e1g8pov61 
 {
    visibility: hidden;       
 }      

.css-18ni7ap.e13qjvis2
{
    background-color: rgb(249, 174, 174);
    height: 100px;
    color:rgb(8, 8, 8);
}


.css-14xtw13.e13qjvis0
{
    color:rgb(7, 7, 7);
}

.css-r421ms.en8akda1
{
    background-color: rgb(254, 224, 164);
}

.appview-container.css-1wrcr25.e1g8pov66
{
    background-color: rgb(253, 215, 216);
}



.stAlert
{
    background-color: rgb(252, 249, 215);
    color: aliceblue;
}

.css-6qob1r.e1akgbir3
{
    background-color: rgb(249, 135, 138);
    color: rgb(9, 9, 9);
}